USE [master]
GO
CREATE DATABASE [Entrevista]
GO
USE [Entrevista]
GO
/****** Object:  Table [dbo].[Canton]    Script Date: 23/3/2021 20:42:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canton](
	[id_Canton] [int] IDENTITY(1,1) NOT NULL,
	[id_Provincia] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[usuarioCrea] [varchar](50) NULL,
	[fechaCrea] [datetime] NULL,
	[usuarioModifica] [varchar](50) NULL,
	[fechaModifica] [datetime] NULL,
	[vc_Estado] [varchar](3) NULL,
	[id_CantonInec] [int] NOT NULL,
 CONSTRAINT [PK_Canton] PRIMARY KEY CLUSTERED 
(
	[id_Canton] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 23/3/2021 20:42:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[id_Distrito] [int] IDENTITY(1,1) NOT NULL,
	[id_Canton] [int] NULL,
	[nombre] [varchar](100) NOT NULL,
	[usuarioCrea] [varchar](50) NULL,
	[fechaCrea] [datetime] NULL,
	[usuarioModifica] [varchar](50) NULL,
	[fechaModifica] [datetime] NULL,
	[vc_Estado] [varchar](3) NULL,
	[id_DistritoInec] [int] NULL,
 CONSTRAINT [PK_Distrito] PRIMARY KEY CLUSTERED 
(
	[id_Distrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 23/3/2021 20:42:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[Id_Persona] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[id_Provincia] [int] NOT NULL,
	[id_Canton] [int] NOT NULL,
	[id_Distrito] [int] NOT NULL,
 CONSTRAINT [PK_Personas] PRIMARY KEY CLUSTERED 
(
	[Id_Persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 23/3/2021 20:42:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[id_Provincia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[usuarioCrea] [varchar](50) NULL,
	[fechaCrea] [datetime] NULL,
	[usuarioModifica] [varchar](50) NULL,
	[fechaModifica] [datetime] NULL,
	[vc_Estado] [varchar](3) NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[id_Provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Canton] ON 

INSERT [dbo].[Canton] ([id_Canton], [id_Provincia], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado], [id_CantonInec]) VALUES (1, 1, N'SAN JOSE', N'sa', CAST(N'2014-06-17T11:38:27.320' AS DateTime), N'sa', CAST(N'2014-06-17T11:38:27.320' AS DateTime), N'A', 101)
INSERT [dbo].[Canton] ([id_Canton], [id_Provincia], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado], [id_CantonInec]) VALUES (2, 1, N'ESCAZU', N'sa', CAST(N'2014-06-17T11:38:27.320' AS DateTime), N'sa', CAST(N'2014-06-17T11:38:27.320' AS DateTime), N'A', 102)
INSERT [dbo].[Canton] ([id_Canton], [id_Provincia], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado], [id_CantonInec]) VALUES (3, 1, N'DESAMPARADOS', N'sa', CAST(N'2014-06-17T11:38:27.320' AS DateTime), N'sa', CAST(N'2014-06-17T11:38:27.320' AS DateTime), N'A', 103)
SET IDENTITY_INSERT [dbo].[Canton] OFF
SET IDENTITY_INSERT [dbo].[Distrito] ON 

INSERT [dbo].[Distrito] ([id_Distrito], [id_Canton], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado], [id_DistritoInec]) VALUES (1, 1, N'EL CARMEN', N'sa', CAST(N'2014-06-17T11:39:58.377' AS DateTime), N'sa', CAST(N'2014-06-17T11:39:58.377' AS DateTime), N'A', 10101)
INSERT [dbo].[Distrito] ([id_Distrito], [id_Canton], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado], [id_DistritoInec]) VALUES (2, 1, N'MERCED', N'sa', CAST(N'2014-06-17T11:39:58.377' AS DateTime), N'sa', CAST(N'2014-06-17T11:39:58.377' AS DateTime), N'A', 10102)
INSERT [dbo].[Distrito] ([id_Distrito], [id_Canton], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado], [id_DistritoInec]) VALUES (3, 1, N'HOSPITAL', N'sa', CAST(N'2014-06-17T11:39:58.377' AS DateTime), N'sa', CAST(N'2014-06-17T11:39:58.377' AS DateTime), N'A', 10103)
GO
SET IDENTITY_INSERT [dbo].[Distrito] OFF
SET IDENTITY_INSERT [dbo].[Personas] ON 

INSERT [dbo].[Personas] ([Id_Persona], [Nombre], [Correo], [id_Provincia], [id_Canton], [id_Distrito]) VALUES (18, N'José David Fonseca Araya', N'119190206@castrocarazo.ac.cr', 1, 4, 27)
SET IDENTITY_INSERT [dbo].[Personas] OFF
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([id_Provincia], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado]) VALUES (1, N'SAN JOSE', N'sa', CAST(N'2014-05-23T14:35:40.990' AS DateTime), N'sa', CAST(N'2014-05-23T14:35:40.990' AS DateTime), N'A')
INSERT [dbo].[Provincia] ([id_Provincia], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado]) VALUES (2, N'ALAJUELA', N'sa', CAST(N'2014-05-23T14:35:44.320' AS DateTime), N'sa', CAST(N'2014-05-23T14:35:44.320' AS DateTime), N'A')
INSERT [dbo].[Provincia] ([id_Provincia], [nombre], [usuarioCrea], [fechaCrea], [usuarioModifica], [fechaModifica], [vc_Estado]) VALUES (3, N'CARTAGO', N'sa', CAST(N'2014-05-23T14:35:46.380' AS DateTime), N'sa', CAST(N'2014-05-23T14:35:46.380' AS DateTime), N'A')
SET IDENTITY_INSERT [dbo].[Provincia] OFF
ALTER TABLE [dbo].[Canton] ADD  CONSTRAINT [DF__Canton__usuarioC__1B29CEB6]  DEFAULT (suser_name()) FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Canton] ADD  CONSTRAINT [DF__Canton__fechaCre__1C1DF2EF]  DEFAULT (getdate()) FOR [fechaCrea]
GO
ALTER TABLE [dbo].[Canton] ADD  CONSTRAINT [DF__Canton__usuarioM__1D121728]  DEFAULT (suser_name()) FOR [usuarioModifica]
GO
ALTER TABLE [dbo].[Canton] ADD  CONSTRAINT [DF__Canton__fechaMod__1E063B61]  DEFAULT (getdate()) FOR [fechaModifica]
GO
ALTER TABLE [dbo].[Canton] ADD  CONSTRAINT [DF__Canton__vc_Estad__1EFA5F9A]  DEFAULT ('A') FOR [vc_Estado]
GO
ALTER TABLE [dbo].[Distrito] ADD  CONSTRAINT [DF__Distrito__usuari__2B60367F]  DEFAULT (suser_name()) FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Distrito] ADD  CONSTRAINT [DF__Distrito__fechaC__2C545AB8]  DEFAULT (getdate()) FOR [fechaCrea]
GO
ALTER TABLE [dbo].[Distrito] ADD  CONSTRAINT [DF__Distrito__usuari__2D487EF1]  DEFAULT (suser_name()) FOR [usuarioModifica]
GO
ALTER TABLE [dbo].[Distrito] ADD  CONSTRAINT [DF__Distrito__fechaM__2E3CA32A]  DEFAULT (getdate()) FOR [fechaModifica]
GO
ALTER TABLE [dbo].[Distrito] ADD  CONSTRAINT [DF__Distrito__vc_Est__2F30C763]  DEFAULT ('A') FOR [vc_Estado]
GO
ALTER TABLE [dbo].[Provincia] ADD  CONSTRAINT [DF__Provincia__usuar__1388ACEE]  DEFAULT (suser_name()) FOR [usuarioCrea]
GO
ALTER TABLE [dbo].[Provincia] ADD  CONSTRAINT [DF__Provincia__fecha__147CD127]  DEFAULT (getdate()) FOR [fechaCrea]
GO
ALTER TABLE [dbo].[Provincia] ADD  CONSTRAINT [DF__Provincia__usuar__1570F560]  DEFAULT (suser_name()) FOR [usuarioModifica]
GO
ALTER TABLE [dbo].[Provincia] ADD  CONSTRAINT [DF__Provincia__fecha__16651999]  DEFAULT (getdate()) FOR [fechaModifica]
GO
ALTER TABLE [dbo].[Provincia] ADD  CONSTRAINT [DF__Provincia__vc_Es__17593DD2]  DEFAULT ('A') FOR [vc_Estado]
GO
ALTER TABLE [dbo].[Canton]  WITH CHECK ADD  CONSTRAINT [FK_Canton_Provincia] FOREIGN KEY([id_Provincia])
REFERENCES [dbo].[Provincia] ([id_Provincia])
GO
ALTER TABLE [dbo].[Canton] CHECK CONSTRAINT [FK_Canton_Provincia]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [FK_Distrito_Canton] FOREIGN KEY([id_Canton])
REFERENCES [dbo].[Canton] ([id_Canton])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [FK_Distrito_Canton]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_Personas_Canton] FOREIGN KEY([id_Canton])
REFERENCES [dbo].[Canton] ([id_Canton])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_Personas_Canton]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_Personas_Distrito] FOREIGN KEY([id_Distrito])
REFERENCES [dbo].[Distrito] ([id_Distrito])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_Personas_Distrito]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_Personas_Provincia] FOREIGN KEY([id_Provincia])
REFERENCES [dbo].[Provincia] ([id_Provincia])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_Personas_Provincia]
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminaPersona]    Script Date: 23/3/2021 20:42:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_EliminaPersona]
@id_Persona int
AS
begin
delete from Personas where Id_Persona=@id_Persona
end


GO
/****** Object:  StoredProcedure [dbo].[sp_ModificaPersona]    Script Date: 23/3/2021 20:42:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_ModificaPersona]
@id_Persona int,
@Nombre varchar(50),
@Correo varchar(50),
@Provincia int,
@Canton int,
@Distrito int
AS
begin
update Personas 
set Nombre=@Nombre,
Correo=@Correo,
Id_Provincia=@Provincia,
Id_Canton=@Canton,
Id_Distrito=@Distrito
where Id_Persona=@id_Persona
end


GO
/****** Object:  StoredProcedure [dbo].[sp_RegistraPersona]    Script Date: 23/3/2021 20:42:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_RegistraPersona]
@nombre [varchar](50),
@correo [varchar](50),
@Provincia int,
@Canton int,
@Distrito int
AS
begin
insert into Personas values(@nombre,@correo,@Provincia,@Canton,@Distrito)
end


GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaCantones]    Script Date: 23/3/2021 20:42:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_RetornaCantones]
@nombre [varchar](50)= NULL,
@id_Provincia int= NULL
AS
	
SELECT  tCant.id_Canton,tCant.id_Provincia, tCant.nombre,tProv.nombre 'Provincia', tCant.usuarioCrea, tCant.fechaCrea, tCant.usuarioModifica, tCant.fechaModifica, tCant.vc_Estado,tCant.id_CantonInec
FROM Canton tCant inner join Provincia tProv on tCant.id_Provincia=tProv.id_Provincia
WHERE tCant.[id_Provincia] = (case when @id_Provincia is null then tCant.id_Provincia else @id_Provincia end)
and tCant.[nombre] like (case when @nombre is null then '%%' else '%'+@nombre+'%' end)

GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaDistritos]    Script Date: 23/3/2021 20:42:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_RetornaDistritos]
@nombre [varchar](50)= NULL,
@id_Canton int= NULL
AS
	
SELECT   tDist.id_Distrito,tCant.id_Canton, tDist.nombre,tCant.nombre 'Canton', tDist.usuarioCrea, tDist.fechaCrea, tDist.usuarioModifica, tCant.fechaModifica, tCant.vc_Estado,tDist.id_DistritoInec
FROM Distrito tDist inner join Canton tCant on tDist.id_Canton=tCant.id_Canton
WHERE tDist.[id_Canton] = (case when @id_Canton is null then tCant.[id_Canton] else @id_Canton end)
and tDist.[nombre] like (case when @nombre is null then '%%' else '%'+@nombre+'%' end)


GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaPersona]    Script Date: 23/3/2021 20:42:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RetornaPersona]
AS
begin
select P.Id_Persona,P.Nombre,P.Correo,PR.nombre as Provincia,C.nombre as canton,D.nombre as distrito from Personas P
INNER JOIN Provincia PR ON P.id_Provincia=PR.id_Provincia
INNER JOIN Canton C ON P.id_Canton=C.id_Canton
INNER JOIN Distrito D ON P.id_Distrito=D.id_Distrito
end


GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaPersonaID]    Script Date: 23/3/2021 20:42:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_RetornaPersonaID]
	-- Add the parameters for the stored procedure here
		  @Id_Persona int
    
AS
BEGIN
	select 
	Id_Persona,
	 Nombre,
		Correo,
		Id_Provincia,
		Id_Canton,
		Id_Distrito
		from Personas
		where Id_Persona=@Id_Persona
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaPersonas]    Script Date: 23/3/2021 20:42:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_RetornaPersonas]
AS
BEGIN
	select * from Personas
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornaProvincias]    Script Date: 23/3/2021 20:42:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_RetornaProvincias]
@nombre [varchar](50)= NULL
AS
	
SELECT  id_Provincia, nombre, usuarioCrea, fechaCrea, usuarioModifica, fechaModifica, vc_Estado
FROM Provincia
WHERE [nombre] like (case when @nombre is null then '%%' else '%'+@nombre+'%' end)

GO
USE [master]
GO
