#Formulario{
    width:50%;
    margin:0 auto;
}
.input{
    margin-left: 10%;
}
.button {
    margin-left: 40%;
}
#Marco{
    border:1px solid ;
}
.table {
    width: 90%;
    margin: 0 auto;
    margin-bottom:1%
}
